/*buscar font press start 2p no google font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    font-family:"press start 2p", system;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
}